<div class="blog-header">
	<h1 class="blog-title">Món Nhật Bản</h1>
	<p class="lead blog-description">Thiên đường món ăn Nhật Bản. Nơi giới thiệu về món ăn Nhật Bản.</p>
</div>
<div class="row">
	<div class="col-sm-8 blog-main">
		<div class="blog-post">
			<%= raw @page.content_for('body') %>
		</div>
	</div>

	<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
		<%= raw @page.content_for('side_body') %>
	</div>
</div>
