<div class="blog-header">
	<h1 class="blog-title">Món Nhật Bản</h1>
	<p class="lead blog-description">Thiên đường món ăn Nhật Bản. Nơi giới thiệu, sưu tầm và tổng hợp các thông tin về món ăn Nhật Bản.</p>
</div>

<div class="row">
	<div class="col-sm-8 blog-main">
		<div class="blog-post">
			<h2 class="blog-post-title"><%= @page.title %></h2>
			<p class="blog-post-meta"><%= @page.created_at.to_s(:long)  %> <a href="#">Tuong Trong Nguyen</a></p>
			<%= raw @page.content_for('body') %>
		</div>		
	</div>
	<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
		<%= raw @page.content_for('side_body') %>
	</div>
</div>